* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
    --main-color: #6433e1;
    --main-color-light: #a9a1ff;
}

canvas {
    background: #111111;
    width: 80vh;
    height: 80vh;
}

.app {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.controls {
    padding: 4px 4px 4px 1rem;
    display: flex;
    background: #fafafa;
    align-items: center;
    gap: 1rem;
    height: 50px;
    border-bottom: #c7c7c7 1px solid;
}

#chronometer {
    font-size: 2rem;
    color: var(--main-color);
}

.time-buttons {
    display: flex;
}

.button {
    border-radius: 0.2rem;
    padding: 0.25rem 0.5rem;
    border: var(--main-color) 1px solid;
    color: var(--main-color);
    cursor: pointer;
    transition: 0.2s;
    fill: var(--main-color);
    display: flex;
    align-items: center;
    gap: 5px;
}

.left {
    border-radius: 0.2rem 0 0 0.2rem !important;
    border-right: none !important;
}

.right {
    border-radius: 0 0.2rem 0.2rem 0 !important;
    border-left: none !important;
}

.middle {
    border-radius: 0 !important;
}

.container {
    background: #fafafa;
    padding: 1rem;
    border-radius: 4px;
    border: #c7c7c7 1px solid;
}

input {
    border-radius: 0.2rem;
    padding: 0.25rem 0.5rem;
    border: #c7c7c7 1px solid;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 5px;
}

.button:hover:not(:disabled) {
    background: var(--main-color);
    fill: white;
    color: white;
    transition: 0.2s;
}

.button:disabled {
    fill: var(--main-color-light);
    color: var(--main-color-light);
    border: var(--main-color-light) 1px solid;
    cursor: default;
}


/* ===================================== */
/* =========== TOGGLE BUTTON =========== */
/* ===================================== */

.toggle {
    display: flex;
}

.toggle input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background: var(--main-color);
    color: white;
    transition: 0.2s;
}

label.toggle-option {
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 0.2rem;
    border: var(--main-color) 1px solid;
    color: var(--main-color);
    font-size: 13px;
}

label.toggle-option:hover {
    background: var(--main-color);
    color: white;
    transition: 0.2s;
}