* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

canvas {
    background: #111111;
    width: 80vh;
    height: 80vh;
}


/*.buttons {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    gap: 1rem;*/
/*}*/

/*.parameter {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    gap: 1rem;*/
/*    justify-content: space-between;*/
/*}*/


.app {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.controls {
    padding: 4px 4px 4px 1rem;
    display: flex;
    background: #fafafa;
    align-items: center;
    gap: 1rem;
    height: 50px;
    border-bottom: #c7c7c7 1px solid;
}

#chronometer {
    font-size: 2rem;
    color: #0d6efd;
}
.time-buttons {
    display: flex;

    .left {
        border-radius: 0.2rem 0 0 0.2rem;
    }
    .right {
        border-radius: 0 0.2rem 0.2rem 0;
    }
    .middle {
        border-radius: 0;
        border-left: none;
        border-right: none;
    }
}

.button {
    border-radius: 0.2rem;
    padding: 0.25rem 0.5rem;
    border: #0d6efd 1px solid;
    color: #0d6efd;
    cursor: pointer;
    transition: 0.2s;
    fill: #0d6efd;
    display: flex;
    align-items: center;
    gap: 5px;
}

.container {
    background: #fafafa;
    padding: 1rem;
    border-radius: 4px;
    border: #c7c7c7 1px solid;
}

input {
    border-radius: 0.2rem;
    padding: 0.25rem 0.5rem;
    border: #c7c7c7 1px solid;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 5px;
}


.button:hover {
    background: #0d6efd;
    fill: white;
    color: white;
    transition: 0.2s;
}

.button.active {
    background: #0d6efd;
    fill: white;
    color: white;
    transition: 0.2s;
}